
.mainbod {
    background: #222;
}

.playlist {
    background-color: #111;
    border-radius: 10px;
}

.playlist-body {
    padding: 30px 20px 30px 20px;
}

.playlist-item {
    display: inline-block;
    padding: 15px 30px;
    background-color: rgba(100, 100, 100, 0.3);
    margin-top: 4px;
    width: 100% !important;
    text-align: left;
    transition: 0.25s;
    color: rgb(132, 132, 132) !important;
    text-decoration: none;
    border-radius: 2px;
}

a.playlist-item span {
    color: #fff;
}

a.playlist-item small {
    float: right;
}

a.playlist-item:hover {
    background-color: rgba(100, 100, 100, 0.5);
}

a.playlist-item.solved {
    background-color: rgba(100, 100, 100, 0.45);
}

.playlist-item:last-child {
    margin-bottom: 4px;
}

.playlist-top-a {
    margin-left: 5px;
    margin-bottom: 5px;
}

b.right {
    float: right;
    margin-right: 15px;
    margin-top: 5px;
}

.playlist-body span {
    cursor: pointer;
}

.lvlno {
    text-align: left !important;
    font-size: 1.5em !important;
}

div.playlist-item {
    padding: 0px;
}

.playlist-item-head {
    padding: 30px 30px 15px 30px;
}

.playlist-item-body {
    padding: 15px 30px 25px 30px;
    background-color: rgba(100, 100, 100, 0.2);
}

.playlist-item-body small {
    padding-bottom: 5px;
}

.playlist input[type=text] {
    width: 100%;
    height: 3em;
    border: none;
    background-color: transparent;
    padding: 0px 10px;
    font-size: 1rem;
    color: #fff;
    font-family: 'cabin', sans-serif;
    letter-spacing: 1px;
}

.col-md-9, .col-md-3 {
    padding: 0px;
}

.nav-item i {
    font-size: 1.3rem;
}

.playlist-body {
    text-align: left;
}

.btn-danger {
    background-color: #1db954 !important;
    border-color: #1db954 !important;
}

.btn-danger:hover {
    box-shadow: 0px 3px 10px #1db95491;
}

.play-box input[type=text] {
    border-bottom-color: #1db954 !important;    
}

i {
    color: #1db954 !important;
}